body{
    background: color #f4e7de;
}

h1 {
    color: #e64221;
    text-align: right;
    margin: 0;
    line-height: 1;
    padding-top: 20px;
    padding-right: 50px;
    
}
.police1 { 
    font-family:"parfumerie-script";
}
.prenom {
    font-size: 200px;
    font-weight:500;
    padding-right: 30px;}

.police2 {
    font-family:"ciclo-display";
}
.nom {
    font-size: 80px;
    padding-top: 0;}

.photoettexte {
    display: flex;
    gap: 20px;
}


.image {

    width: 20%;      
    padding-bottom: 20px;
}

.moi {

    width: 100%;     
}

.texte {

    width: 80%;      
    padding-right: 100px;
    padding-left: 50px;
    padding-top: 50px;
    font-family:"ciclo-display";
    font-size: 25px;
    text-align: justify;
    color: #e64221;
}

.Parcours {
    background-color: #e64221;
    
}
.petitblanc {
    font-size: 100px;
    font-weight: 20;
    color: #f4e7de;
}

.petitBlanc {
    font-size: 60px;
    color: #f4e7de;   
}
.police3 {
    font-family:"new-hero";
}
.liste {
    padding-top: 20px;
    font-size: lighter;
    color: #e64221;
}

.imagevelo {
    display: block;
    margin: 0 auto;
    justify-content: center;
}

.Experience {
    background-color: #e64221;
      
}

.justifiergauche {
    text-align: left;
    padding-left: 20px;
} 

.Musique {
    background-color: #e64221;
}

.petitblanc {
    font-size: 100px;
    color: #f4e7de;
}

.petitBlanc {
    font-size: 60px;
    color: #f4e7de;   
}
.liste2 {
    padding-top: 20px;
    font-size: lighter;
    color: #e64221;
}

.imagechat {
    display: block;
    margin: 0 auto;
    justify-content: center;
}

.Photos {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.image1D {
    padding-top: 40px;
    padding-bottom: 40px;
}

.imageGD {
    padding-top: 40px;
    padding-bottom: 40px;
}

.imageTF {
    padding-top: 40px;
    padding-bottom: 40px;
}

a {
    display: block;
    justify-content: center;
    text-align: center;
    background-color: #e64221;
    color: #f4e7de;
    text-decoration: none;
    border-radius: 5px;
    padding: 0px;
    margin: 0 auto;

}

a:hover {
    background-color: rgb(87, 13, 13);
}


.Storyofmy {
    font-size: 15px;
}

.life {
    font-size: 30px;
}

.Wakemeupmhenseptember {
    font-size: 15px;

}

.ends {
    font-size: 30px;
}

.Miss {
    font-size: 15px;
}

.Gwada {
    font-size: 30px;
    font-weight: 300;
}

.lien1 {
    width: 50%;
}

.lien2 {
    width: 90%;
}

.lien3 {
    width: 40%;
}
